body {
    font-family: 'Ubuntu';
    display: flex;
    height: 100%;

    flex-direction: column;
    background-color: #222222;
    justify-content: center;
    align-items: center;
}

head {
    display: table;
    margin: auto;
}

.webcam {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.description {
    margin: 2rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

.output {
    font-size: 2rem;
    color: white;
    text-align: center;

}

.removed {
    display: none;
}

button {
    margin: auto;
    display: block;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 2rem;
    font-weight: 100;
    padding: 5px 30px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    text-align: center;
}

button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.centera {
    align-items: center;
    justify-content: center;

}